<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git-Test</title>
</head>
<body>
    <h1>This is a template</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid at reprehenderit facilis minus repellat incidunt ab laboriosam, doloribus expedita illo accusantium! Architecto hic sed temporibus voluptatem dolorum voluptates, velit sequi!</p>
    <br><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores blanditiis sequi eos sed! Nisi molestias possimus consequuntur dolore minus alias officiis laboriosam obcaecati. Omnis modi sed et possimus sit.</p>

</body>
</html>